{{ $item := .item }}
{{ $widget := .widget }}
{{ $link := .link }}
{{ $target := .target }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

{{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

<div class="project-card project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
  <div class="card">
    {{ with $resource }}
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
      {{ partial "portfolio_image" (dict "resource" . "item" $item "width" 550 "class" "img-responsive" "index" $.index "eagerCount" 3 "sizes" "(min-width: 1290px) 405px, (min-width: 1200px) calc(33.3vw - 25px), (min-width: 992px) 453px, (min-width: 769px) 333px, (min-width: 768px) 550px, (min-width: 576px) 508px, calc(100vw - 32px)") }}
    </a>
    {{ end }}
    <div class="card-text">
      <h4><a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>

      {{ with $summary }}
      <div class="article-style">
        <p>{{ . }}</p>
      </div>
      {{ end }}

      {{ if $has_attachments }}
      <div class="btn-links">
        {{ partial "page_links" (dict "page" $item "is_list" 1) }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
